<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
<nav class="navigation">
  <% if (user) { %>
    <a href="/quizzes/index" <%- title === 'Quizzes' ? 'class="active"' : '' %>>Quizzes</a>
    <a href="/results" <%- title === 'Results' ? 'class="active"' : '' %>>Results</a> 
    <a href="/logout" >LOG OUT</a>
  <% } else { %>
    <a href="/auth/google">LOG IN</a>
  <% } %>
</nav>
<main>