<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
<!-- <nav class="navigation"> -->
  <nav class="flex items-center justify-between flex-wrap p-2 navigation fixed w-full z-20 top-0 left-0 border-b border-gray-800">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight"><a class="text-white" href="/quizzes/index">QuizApp</a></span>
    </div>
    <div class="nav-right">
  <% if (user) { %>
    <a href="/quizzes/index" <%- title === 'Quizzes' ? 'class="active"' : '' %>>Quizzes</a>
    <a href="/results" <%- title === 'Results' ? 'class="active"' : '' %>>Results</a> 
    <a href="/logout" >LOG OUT</a>
  <% } else { %>
    <a href="/auth/google">LOG IN</a>
  <% } %>
</div>
</nav>
<main class="min-h-screen">