<%- include('./partials/header') %>

<section class="homepage">
<h1>Welcome to QuizApp</h1>
<br>
<br>
<p>Login to take your first quiz</p>
<br>
<br>
<a href="/auth/google">
  <button class="border-gray-800">&nbsp; LOG IN &nbsp;</button>
</a>
</section>
<%- include('./partials/footer') %>